/*  your css code here. If applicable */

.card-text,.row{
	text-align: center;
}
a img{
	text-align: center;
}

.card {
  border-radius: 15px !important;
}
h2,h6,p{
	text-align: center;
}
#lightbox{
	text-align: center;
	margin-bottom: 20px;
	padding: 3px;
}